{% extends 'base.html' %}
{% load static %}
{% block title %}Start Process{% endblock %}

{% block head %}
<style>
    body{
        height: 100vh;
        min-width: 948px;  
        position: relative
         
    }
    @media (max-width: 948px) { 
        .responsive-form { 
            flex-direction: column; 
        } 
    }
    .btn-outline-secondary{  /*執行與重置按鈕*/
        --bs-btn-color: #46656F;
        --bs-btn-border-color: #46656F;
        --bs-btn-hover-color: #FBFBFB;
        --bs-btn-hover-bg: #46656F;
        --bs-btn-hover-border-color:--bs-btn-hover-border-color: #46656F;
        --bs-btn-active-color: #FBFBFB;
        --bs-btn-active-bg: #46656F;
        --bs-btn-active-border-color: #46656F;
        --bs-btn-disabled-color: #46656F;
        --bs-btn-disabled-border-color: #46656F;
    }
    .border.border-2.shadow.p-3.mb-5.bg-body-tertiary.rounded {
        flex: 1;
        min-width: 948px;
        display: flex;
        justify-content: center;
        align-items: center; /* 垂直居中 */
        position: absolute;
        top: 50%; /* 設定垂直居中 */
        left: 50%; /* 設定水平居中 */
        transform: translate(-50%, -50%); /* 調整位置到正中央 */
        margin: 0 !important; /* 移除外邊距 */
        max-width: 1450px; 
        padding: 30px !important;
    }
    .input-group.mb-3 {
        margin-bottom: 20px !important;

    }
    #button-containers {
        display: flex;
        justify-content:center;
        
    }
    
</style>
{% endblock %}

{% block content %}

<!--輸入要處理的Order ID-->
<div class="border border-2 shadow p-3 mb-5 bg-body-tertiary rounded">
    <form action="" method="get" class="vstack gap-3">
        {% csrf_token %} 
        <div class="input-group mb-3">
            <label for="order_id" class="input-group-text">Order ID</label>
            <input type="text" class="form-control" id="order_id" name="order_id" required>
        </div>

        <!--處理種類選擇-->
        <div class="input-group mb-3">
            <label for="ProcessType" class="input-group-text">Process Type</label>
            <select class="form-select" id="ProcessType" name="ProcessType" required>
                <option value="" selected>Open this select menu</option>
                <option value="1">Process_A</option>
                <option value="2">Process_B</option>
            </select>
        </div>
        <!--執行按鈕與重置按鈕-->
        <div class="hstack gap-3" id="button-containers">
            <button class="btn btn-outline-secondary" type="submit" id="ID_execute">Execute</button> 
            <div class="vr"></div>
            <a href="{% url 'start_process' %}" class="btn btn-outline-secondary" >Reset</a>
        </div>
    </form>
</div>

{% endblock %}