{% extends 'base.html' %}
{% load static %}
{% block title %}Start Process{% endblock %}

{% block head %}
<link href="{% static 'css/process_start.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<!--輸入要處理的Order ID-->
<div class="border border-2 shadow p-3 mb-5 bg-body-tertiary rounded">
    <form action="{% url 'start_process' %}" method="get" class="vstack gap-3">
        {% csrf_token %} 
        <div class="input-group mb-3">
            <label for="order_id" class="input-group-text">Order ID</label>
            <input type="text" class="form-control" id="order_id" name="order_id" required>
        </div>

        <!--處理種類選擇-->
        <div class="input-group mb-3">
            <label for="ProcessType" class="input-group-text">Process Type</label>
            <select class="form-select" id="ProcessType" name="ProcessType" required>
                <option value="" selected>Open this select menu</option>
                <option value="A">Process_A</option>
                <option value="B">Process_B</option>
                <option value="C">Process_C</option>
            </select>
        </div>
        <!--執行按鈕與重置按鈕-->
        <div class="hstack gap-3" id="button-containers">
            <button class="btn btn-outline-secondary" type="submit" id="ID_execute">Execute</button> 
            <div class="vr"></div>
            <a href="{% url 'start_process' %}" class="btn btn-outline-secondary" >Reset</a>
        </div>
    </form>
</div>

<!--錯誤警告-->
{% if messages %}
    {% for message in messages %}
    <div id="warningModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Warning</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            {{message}}
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
{% if messages %}
<script>
    const modal = new bootstrap.Modal(document.getElementById("warningModal"));
    modal.show();
    document.getElementById("warningModal").addEventListener("shown.bs.modal", function () {
    document.getElementById("warningModal").setAttribute("data-bs-backdrop", "static");
    document.getElementById("warningModal").setAttribute("data-bs-keyboard", "false");
    });
</script>
{% endif %}

{% endblock %}