{% extends "base.html" %}
{% load static %}


{% block head %}
<style>
    body{
        background-color: #FBFBFB;
    }
</style>
{% endblock %}

<!-----------------------這裡是會員資料----------------------------------------------------------------->
{% block content %}
<div>{{username}} 歡迎回來</div>
<fieldset class="functionlist">
  <div class="list-group" style="width: 30%;">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    My Profile
    </a>
    <a href="#" class="list-group-item list-group-item-action">Update Profile</a>
    <a href="#" class="list-group-item list-group-item-action">Delete Account</a>
    <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
  </div>
</fieldset>

{% endblock %}