{% extends "base.html" %}
{% load static %}
{% block title %}IDSearch{% endblock %}

{% block head %}
    <!--載入jquery函數庫-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<!--查詢orderID輸入框-->
<div class="border border-2 shadow p-3 mb-5 bg-body-tertiary rounded" id="OrderIDSearch">
    <form action="{% url 'IDsearch' %}" method="get" class="hstack gap-3">
        {% csrf_token %} 
        <div class="input-group mb-3">
            <label for="order_id" class="input-group-text" id="OrderID">Order ID</label>
            <input type="text" class="form-control" id="order_id" name="order_id" value="{{order.order_id}}" required>
        </div>
        <!--查詢按鈕-->
        <div class="hstack gap-3">
            <button class="btn btn-outline-secondary" type="submit" id="SearchButton">Search</button> 
            <div class="vr"></div>
            <a href="{% url 'orderlist' %}" class="btn btn-outline-secondary" >Reset</a>
        </div>
    </form>
</div>
<!--篩選範圍設定框-->
<div class="border border-2 shadow p-3 mb-5 bg-body-tertiary rounded"  style="max-width: 1450px;">
    <form method="get" action="{% url 'Filtersearch' %}">
        <div class="hstack gap-3">
            <!--年份-->
            <div class="input-group mb-3">
                <label for="year" class="input-group-text">Year</label>
                <input type="text" class="form-control" id="year" name="year">
            </div>
            <!--月份-->
            <div class="input-group mb-3">
                <label for="month" class="input-group-text">Month</label>
                <select class="form-select" name="month" id="month">
                    <option value="" selected>Select a month</option>
                    <option value="2">February(2)</option>
                    <option value="3">March(3)</option>
                    <option value="4">April(4)</option>
                    <option value="5">May(5)</option>
                    <option value="6">June(6)</option>
                    <option value="7">July(7)</option>
                    <option value="8">August(8)</option>
                    <option value="9">September(9)</option>
                    <option value="10">October(10)</option>
                    <option value="11">November(11)</option>
                    <option value="12">December(12)</option>
                </select>
            </div>
            <!--地區-->
            <div class="input-group mb-3">
                <label for="region" class="input-group-text">Region</label>
                <input type="text" class="form-control" name="region" id="region">
            </div>
            <!--提交按鈕與重置按鈕-->
            <div class="hstack gap-3">
                <button class="btn btn-outline-secondary" type="submit" id="SearchButton">Search</button> 
                <div class="vr"></div>
                <a href="{% url 'orderlist' %}" class="btn btn-outline-secondary" >Reset</a>
            </div>
        </div>
    </form>
</div>

<!--訂單列表-->
<div class="border border-2 shadow p-3 mb-5 bg-body-tertiary rounded"  style="max-width: 2100px;">
    <table class="table table-hover" id="order-list-table">
        <thead class="table-light">
            <th id = "column1">Order ID</th>
            <th id = "column1">Year</th>
            <th id = "column1">Month</th>
            <th id = "column1">Region</th>
            <th id = "column1">Client</th>
            <th id = "column1" style="min-width: 70px;">Status</th>
            <th id = "column1"></th>
        </thead>
        <tbody> 
            <!--指定訂單-->
            <tr class="order-list" data-order-id="{{order.order_id}}">
                                <!--data-order-id為自定義屬性，使用data-*屬性可以在script區域中使用data()來取得該屬性的值-->
                <td>{{order.order_id}}</td>
                <td>{{order.year}}</td>
                <td>{{order.month}}</td>
                <td>{{order.region}}</td>
                <td>{{order.client}}</td>
                <td>{{order.status}}</td>
                <td style="max-width: fit-content; padding-top: 8px; padding-left: 0px;">
                    <button class="expand-btn" id="submit">Expand/Hide</button>
                </td>
            </tr>
            <!--設定訂單的詳細內容品項表格-->
            <tr class="order-detail" id="order-detail-{{order.order_id}}" style="display: table-row;" >
                <!--合併一列的儲存格，與order-list表格做出區別，因為兩個table的column數量不一樣-->
                <td colspan="7">
                    <table class="table table-striped">
                        <thead class="table-light">
                            <th>Product ID</th>
                            <th>Product name</th>
                            <th>Product type</th>
                            <th>Quantity</th>
                            <th>Package</th>
                        </thead>
                        <tbody class="order-detail-data">
                            {% for product in orderdetail %}
                            <tr>
                                <td>{{product.product_id}}</td>
                                <td>{{product.product_name}}</td>
                                <td>{{product.product_type}}</td>
                                <td>{{product.quantity}}</td>
                                <td>{{product.package}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--返回頂部按鈕-->
<div class="card">
    <div class="card-body">
    <a href="#navbar"><img src="{% static 'image/UpSquared.png' %}"></a>
    </div>
</div>

<!--讓使用者可以收起或展開子table-->
<script> 
$(document).ready(function (){
    $(".expand-btn").on("click", function() {
        const row = $(this).closest("tr");
        const orderid = row.data("order-id");
        const orderdetail = $(`#order-detail-${orderid}`);

        if (orderdetail.is(":visible")) {
            orderdetail.hide();
        } else {
            orderdetail.show();
        }
    });
});
</script> 

{% endblock %}