{% extends "base.html" %}
{% load static %}
{% block title %}Search{% endblock %}

{% block head %}
    <style>
        body{
            height: 100vh;   
        }
        .btn-outline-secondary{
            --bs-btn-color: #46656F;
            --bs-btn-border-color: #46656F;
            --bs-btn-hover-color: #FBFBFB;
            --bs-btn-hover-bg: #46656F;
            --bs-btn-hover-border-color:--bs-btn-hover-border-color: #46656F;
            --bs-btn-active-color: #FBFBFB;
            --bs-btn-active-bg: #46656F;
            --bs-btn-active-border-color: #46656F;
            --bs-btn-disabled-color: #46656F;
            --bs-btn-disabled-border-color: #46656F;
        }
        @media (max-width: 700px) { 
            .responsive-form { 
                flex-direction: column; 
            } 
        }

        .border.border-2.shadow.p-3.mb-5.bg-body-tertiary.rounded {
            flex: 1; 
            margin-top: 50px; 
            min-width: 700px; 
            margin: auto;
        }
        #OrderIDSearch {
            max-width: 1450px; 
            margin-top: 50px;
            margin-bottom: 20px !important;
        }
        .input-group.mb-3 {
            margin-bottom: 0px !important;
        }
    </style>
{% endblock %}
<!-------body-----想法:使用者輸入orderId後，系統會自動在表格中搜尋對應的ID，找到後該列會反藍並展開order的詳細內容---------
----------------------提供篩選條件，讓使用者篩選出特定範圍內的訂單清單------搜尋ID可以用相機掃描QRCODE-------------------------------->

{% block content %}
<!--查詢orderID輸入框-->
<div class="border border-2 shadow p-3 mb-5 bg-body-tertiary rounded" id="OrderIDSearch">
    <form action="" method="post" class="hstack gap-3"> 
        <div class="input-group mb-3" style="margin-bottom: 0px !important;">
            <div class="input-group-text" id="OrderID">Order ID</div>
            <input type="text" class="form-control" id="order_id" name="order_id" aria-label="OrderID" >
        </div>
        <!--查詢按鈕-->
        <button class="btn btn-outline-secondary" type="button" id="OrderIDSearchButton">Search</button> 
    </form>
</div>
<!--篩選範圍-->
<div class="border border-2 shadow p-3 mb-5 bg-body-tertiary rounded"  style="max-width: 1450px;">
    <form>
        <div class="hstack gap-3">
            <!--年份-->
            <div class="input-group mb-3">
                <span class="input-group-text" id="Year">Year</span>
                <input type="text" class="form-control" id="year" name="year">
            </div>
            <!--月份-->
            <div class="input-group mb-3">
                <span class="input-group-text"  id="Month">Month</span>
                <select class="form-select" name="month">
                    <option selected value="1">January(1)</option>
                    <option value="2">February(2)</option>
                    <option value="3">March(3)</option>
                    <option value="4">April(4)</option>
                    <option value="5">May(5)</option>
                    <option value="6">June(6)</option>
                    <option value="7">July(7)</option>
                    <option value="8">August(8)</option>
                    <option value="9">September(9)</option>
                    <option value="10">October(10)</option>
                    <option value="11">November(11)</option>
                    <option value="12">December(12)</option>
                </select>
            </div>
            <!--地區-->
            <div class="input-group mb-3">
                <span class="input-group-text" id="Region">Region</span>
                <input type="text" class="form-control" name="region">
            </div>
            <!--提交按鈕與重置按鈕-->
            <div class="hstack gap-3">
                <button class="btn btn-outline-secondary" type="button" id="FilterSearch">Search</button> 
                <div class="vr"></div>
                <button  type="button" class="btn btn-outline-secondary">Reset</button>
            </div>
        </div>
    </form>
</div>

<div class="border border-2 shadow p-3 mb-5 bg-body-tertiary rounded"  style="max-width: 2100px;">
    <table class="table table-striped">
        <thead class="table-light">
            <th style="width: 100px;">Order ID</th>
            <th style="width: 100px;">Year</th>
            <th style="width: 100px;">Month</th>
            <th style="width: 100px;">Region</th>
            <th style="width: 100px;">Client</th>
            <th style="width: 100px;">Status</th>
        </thead>
        <tbody>
            <tr>  <td>1</td> <td>2024</td> <td>May</td> <td>Kaohsiung</td> <td>TA</td> <td>Process A</td>  </tr>
            <tr>  <td>2</td> <td>2024</td> <td>July</td> <td>Taipei</td> <td>CA</td> <td>Process B</td>  </tr>
        </tbody>
        </tbody>
    </table>
</div>

<!--訂單詳細內容-->
<div id="order-details-container"></div>
{% endblock %}
